#pageA{
    width: 500px;
}

.center{
    text-align: center;
    justify-content: center;
    vertical-align: center;
}

.buttonAccueil{
    font-size: 1.3em;
}

.avatar{
    border: 1px solid black;
    width: 20%;
    height: 30%;
}